.container-post {
    margin-top: 20px;
    background-color: #fff !important;
}

.btnAmarelo {
    border: 2px solid #000 !important;
    background-color: #FFB30F !important;
    font-family: 'Roboto Mono', sans-serif !important;
    color: #000 !important;
}

.texto {
    font-family: 'Roboto Mono', sans-serif !important;
}