@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');

* {
    margin: 0;
    padding: 0;
}

.container {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container-secondary {
    width: 80vw;
    height: 86vh;
    display: flex;
    flex-direction: row;
}

.grid-left {
    background-image: url(./assets/joao-pedro-freitas-cXWS5Ie-2ZE-unsplash.jpg);
    background-size: cover;
}

.grid-rigth {
    background-color: #fff;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 4rem;
}

.box-rigth form {
    display: flex;
    flex-direction: column;

}

.texto-cadastroUsuario {
    font-family: 'Roboto Mono', sans-serif !important;
    /* font-size: 1.8rem !important; */
    font-weight: bold !important;
    color: #8A2BE2 !important;
    text-shadow: 2px 2px #000;
 }

.text-decorator-none{
    text-decoration: none;
}

.btn {
    display: flex;
    flex-direction: row;
    justify-content:space-around;
}